*,
*::before,
*::after {
  box-sizing: border-box;
}

.calculator-grid {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 60%;
  min-width: 400px;
}

.output {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 5px;
  background-color: rgb(126, 126, 126);
  row-gap: 5px;
  flex: 0 1 100%;
  border: 1px solid black;
  color: #fff;
}

.current-operand {
  font-size: 1.4rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 100%;
}

.button {
  display: flex;
  flex: 0 1 25%;
  justify-content: center;
  align-items: center;
  height: 80px;
  border: 1px solid black;
  border-top: none;
  border-left: none;
  cursor: pointer;
  background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
  font-size: 1.2em;
}

.button:nth-child(4n+1) {
  border-left: 1px solid black;
}

.button:nth-child(4n),
.button:last-child {
  background: #f98110;
  color: #fff;
}

.span-2 {
  flex-grow: 2;
}
